.Header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #00a89d;

  box-shadow: 2px 2px 4px 10px rgb(0 0 0 / 20%);
}

#logo {
  width: 100px;
  padding-top: 10px;
  transition: width 1s ease-in 2s;
}

#logo:hover {
  width: 150px;
}

.Header a {
  text-decoration: none;
  color: black;
}

.Header h1 {
  color: black;
}

.Header nav {
  display: flex;
  width: 50%;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 20px;
  color: black;
}

.Header .saved-stories {
  transition: letter-spacing 1s ease-out 2s;
}
.Header .saved-stories:hover {
  letter-spacing: 3px;
}

.Header .create-story {
  transition: letter-spacing 1s ease-out 2s;
}

.Header .create-story:hover {
  letter-spacing: 3px;
}
